* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: url(images/html_table.jpg) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0/0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th:hover {
  color: #6c00bd;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

main.table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  font-size: 12;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 75%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 98%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
  font-size: 1rem;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.table__body img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  justify-content: center;
  border-radius: 5%;
}

table {
  font-family: Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}


td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

th,
td {
  text-align: justify;
  padding: 10px;
  border: 1px solid #ddd;
}

th span {
  display: flex;
  align-items: center;
}

.Codigo {
  width: 100px;
}

.Producto {
  width: 150px;
}

.Nombre {
  width: 150px;
}

.Medida {
  width: 120px;
}

.Documento {
  width: 120px;
}

.Cantidad {
  width: 120px;
}

.Descripción {
  width: 200px;
}

th,
td {
  padding: 1rem;
  text-align: left;
  overflow: auto;
}

th {
  resize: horizontal;
  overflow: auto;
}

th,
td {
  word-break: break-all;
}

/* Estilos para los botones */
.button-comprar {
  background-color: #FF9800; /* Color naranja */
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
}



/* Estilos adicionales para la tabla */
#myTable {
  border-collapse: collapse;
  width: 100%;
}

#myTable th, #myTable td {
  border: 1px solid #a5a5a5;
  padding: 8px;
}

#myTable th {
  background-color: #f2f2f2;
  cursor: pointer;
}

#myTable th:hover {
  background-color: #ddd;
}

#myTable img {
  max-width: 100px;
  max-height: 100px;
}


.button-carrito {
background-color: #4CAF50; /* Color verde */
color: rgb(255, 255, 255);
border: none;
padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
cursor: pointer;
}

.carrito {
position: relative;
}

.carrito .carrito__btn {
display: inline-block;
width: 3rem;
height: 3rem;
background: transparent url(images/cart.png) center / contain no-repeat;
transition: .2s ease-in-out;
box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
box-sizing: border-box; /* Agregado */
}

.carrito .carrito__btn:hover { 
background-color: #ffffff50;
transform: scale(1.15);
cursor: pointer;
box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

.carrito input {
display: none;
}

.carrito .carrito__options {
position: absolute;
right: 0;
width: 12rem;
border-radius: .5rem;
overflow: hidden;
text-align: center;
opacity: 0;
transform: scale(.8);
transform-origin: top right;
box-shadow: 0 .2rem .5rem #0004;
transition: .2s;
background-color: rgba(9, 255, 0, 0.473); /* Cambiado a azul */
padding: 10px;
border: 1px solid #ccc;
max-height: 200px;
overflow-y: auto;
}

.carrito input:checked + .carrito__options {
opacity: 1;
transform: scale(1);
z-index: 100;
}

.carrito .carrito__options label {
display: block;
width: 100%;
padding: .6rem 0;
background-color: #f2f2f2;
display: flex;
justify-content: space-around;
align-items: center;
transition: .2s ease-in-out;
}

.carrito .carrito__options label:first-of-type {
padding: 1rem 0;
background-color: #86e49d !important;
}

.carrito .carrito__options label:hover {
transform: scale(1.05);
background-color: #fff;
cursor: pointer;
}

.carrito .carrito__options img {
width: 1.5rem;
height: auto;
}

.carrito .carrito__options {
/* ...otros estilos... */
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.2s;
}

.carrito input:checked + .carrito__options {
visibility: visible;
opacity: 1;
/* ...otros estilos... */
}
.image-cell {
text-align: center;
}

.text-centrar {
text-align: center;
}
.font-weight-bold {
font-weight: bold;
}
thead th {
text-align: center;
vertical-align: middle;
}

.VerProducto {
display: block;
margin: 5px auto;
padding: 5px 10px;
font-size: 8;
font-weight: bold;
font-family: "Times New Roman", Times, serif;
text-align: center;
text-transform: uppercase;
cursor: pointer;
transition: color 0.3s, background-color 0.3s;
position: relative;
overflow: hidden;
border: 1px solid #000000;
color: #000000;
background-color: #F5F5F5;
min-width: 100;
}

.VerProducto:hover {
color: #FFFFFF;
background-color: #000000;
}

.VerProducto::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #000;
z-index: -1;
transition: transform 0.5s;
transform-origin: 0 0;
transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
transform: scaleX(0);
}

.VerProducto:hover::before {
transform: scaleX(1);
}
